<section id="verbs-all">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="jumbotron animated fadeIn">
					<div class="flash" ng-hide="alertShow">
						<h3>All for All</h3>
						<p>In this section you'll play all the verbs available 
						in the system. Good luck!
						<br>
						<button ng-click="alertShow = !alertShow" class="btn btn-primary pull-right">Play</button></p>
						<div class="clearfix"></div>
					</div>
					<div ng-show="alertShow" class="animated fadeIn" 
						quiz-verb-directive='headline' ng-bind-html="headline"></div>
					<button ng-click="changeHeadline()">Change</button>
				</div>
			</div>
		</div>
	</div>
</section>