<section id="verbs-new">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="jumbotron animated fadeInUp">
					<h3 align="center">Create a New Verb</h3>

					<form name="verbForm" novalidate>
						<div class="form-group">
							<label for="germanVerb">German Verb</label>
							<input type="text" name="german" placeholder="Ex. Sein" class="form-control" ng-model='verb.german' ng-change="change()" required>
							<p ng-show="verbForm.german.$invalid && !userForm.german.$pristine" class="help-block">The German verb is required.</p>
						</div>
						<div class="form-group">
							<label for="germanVerb">English Verb</label>
							<input type="text" name="english" placeholder="Ex. To be" class="form-control" ng-model='verb.english' required>
							<p ng-show="verbForm.english.$invalid && !userForm.english.$pristine" class="help-block">The English verb is required.</p>
						</div>
						<div class="form-group">
							<label for="germanVerb">Spanish Verb</label>
							<input type="text" name="spanish" placeholder="Ex. Ser / estar" class="form-control" ng-model='verb.spanish' required>
							<p ng-show="verbForm.spanish.$invalid && !userForm.spanish.$pristine" class="help-block">The Spanish verb is required.</p>
						</div>
						
						<div class="pull-right">
							<a href="#/" type="button" class="btn btn-default">Cancel</a>
							<button ng-hide="isEditMode" ng-disabled="verbForm.$invalid || existingVerbs.length > 0" ng-click="submitForm(verb)" class="btn btn-primary">Create</button>
							<button ng-show="isEditMode" ng-disabled="verbForm.$invalid ng-click="updateVerb(verb)" class="btn btn-primary">Update</button>
						</div>


					</form>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<h4>Existing Verbs</h4>
					<div ng-repeat="eVerb in existingVerbs">
						<span>{{eVerb.german}}</span>
						<div class="pull-right">
							<a ng-click="edit(eVerb)">Edit</a> |
							<a>Destroy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>