<section id="verbs-all">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="jumbotron animated fadeIn">
					<div class="flash" ng-hide="alertShow">
						<h3>All for All</h3>
						<p>In this section you'll play all the verbs available 
							in the system. Good luck!
							<br>
							<button ng-click="alertShow = !alertShow; startAll()" class="btn btn-primary pull-right">Play</button></p>
							<div class="clearfix"></div>
						</div>
						<div ng-show="alertShow" class="container container-view">
							<h2>{{verb.english | capitalize:'first' }}</h2>

							<form >
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Answer" ng-disabled="evaluate" ng-model='answer' autofocus="true">
									<span class="input-group-btn">
										<button ng-hide="evaluate" class="btn btn-primary pull-right" ng-click="evaluateQuestion(verb, answer)"
										ng-keydown="$event.which === 13 && evaluateQuestion(verb, answer)">Evaluate</button>
										<button autofocus ng-show="evaluate" class="btn btn-primary pull-right" ng-click="nextQuestion()"
										ng-keydown="$event.which === 13 && nextQuestion()">Next</button>
									</span>
								</div>
							</form>
<!-- 
							<button ng-hide="evaluate" class="btn btn-primary pull-right" ng-click="evaluateQuestion(verb, answer); evaluate = !evaluate">Evaluate</button>
							<button autofocus ng-show="evaluate" class="btn btn-primary pull-right" ng-click="nextQuestion(); evaluate = !evaluate">Next</button> -->

							<div class="clearfix"></div>

							<div class="result" ng-show="evaluate" ng-class="{correct: isCorrect, incorrect: !isCorrect}">
								<p>The answer is <strong>{{verb.german}}</strong></p>
								<p ng-show="isCorrect">Correct! You have it right!</p>
								<p ng-hide="isCorrect">Nice try.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>