// VERBS SECTION
#verbs-all, #verbs-new {
	width: 100%;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/img/bg01.jpg");
	background-position: center;
	overflow: hidden;
	background-size: cover;
	margin-top: 90px;
	padding: 25px;
	height: 100%;

	.holder {
		width: 100%;
		background-color: red;
	}

	.jumbotron {
		min-height: 200px;
		margin-top: 50px;
	}

	.container-view {
		position: relative;
	}

	.view {
		
	}

	h1 {background-color: red;}

	.next {
		bottom: 20px;
		right: 20px;
		float: right;
	}


	.slide-and-fade-up {
	  &.ng-enter {
	  	margin-top: -20px;
	    -webkit-animation-name: fadeInRight; /* Chrome, Safari, Opera */
	    animation-name: fadeInRight;
	  }
	  &.ng-leave {
	    -webkit-animation-name: fadeOutLeft; /* Chrome, Safari, Opera */
	    animation-name: fadeOutLeft;
	  }
	}


	// RESULTS
	.result {
		-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
		-moz-border-radius: 10px;
		-webkit-border-radius: 1px;
		border-radius: 5px;
		-khtml-border-radius: 10px;
		-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
		box-shadow: 1px 2px 3px rgba(53, 53, 53, 0.5);
		padding: 20px;
		color: white;
		margin: 20px 0;

		p:first-child { 
		   	font-size: 20px;
		   	margin-bottom: 0px;
		}

		p {
			font-size: 14px;
		}
	}

	.correct {
		background-color: #6CCC9B;
	}

	.incorrect {
		background-color: #CC655C;
	}
}